@import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu');


* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


.fondo-formulario {
/*    background-image: url("../img/fondo-10.jpg");*/
    background-image: url("../img/patron-minimalista-1.jpg");
    background-attachment: fixed;
}


body {
    background-color: #f1f1f1;
    font-size: 14px !important;
}


/* ----------------- */
/* Scroll Modificado */
/* ----------------- */


.scroll_modificado {
    background-color: #f1f1f1;
}


.scroll_modificado::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


.scroll_modificado::-webkit-scrollbar-track{
    background-color: #EEE;
}


.scroll_modificado::-webkit-scrollbar-thumb{
    background-color: rgba(38, 38, 38, 0.86);
}