body {
    background-color: #F4F4F4;
}


/* alerta */


.alerta {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: rgba(231, 76, 60, 0.95);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}


.alerta p {
    padding: 0px 15px;
    line-height: 50px;
    width: calc(100% - 50px);
    color: #FFF;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.07);
}


.alerta span {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #FFF;
    font-size: 23px;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    overflow: hidden;
}


.alerta span:hover {
    text-shadow: 1px 1px 10px rgba(0,0,0,.5);
}


/********************* */

.formas {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    min-height: 700px;
    z-index: 1;
}


.fig-1 {
    position: absolute;
    background-color: rgba(28, 76, 185, 0.6);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    left: 50%;
    bottom: 10vh;
    transform: rotate(35deg);
}


.fig-2 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
    width: 80%;
    height: 150vh;
    left: 40%;
    bottom: -50%;
    transform: rotate(35deg);
}


/* ******************* */


.main {
    background: url("../img/fondo-1.jpg") no-repeat fixed center;
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height: 700px;
	height: 100vh;
    overflow: hidden;
}


.contenedor-1 {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}


.contenedor-1 img {
    width: 180px;
    height: 180px;
    margin-bottom: 25px;
}

.contenedor-1 p {
    color: #FFF;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 0px 0px 8px rgba(0,0,0,.4);
    padding: 0px 50px;
    text-align: center;
}


.contenedor-2 {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}


.contenedor-2 .imagen-encabezado {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: #FFF;
}


.contenedor-2 .imagen-encabezado img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FFF;
    margin: 12px 10px 8px 10px;
}


.contenedor-2 form {
    position: relative;
    width: 90%;
    max-width: 350px;
    font-family: 'Poppins';
    height: auto;
    background-color: #FFF;
    padding: 28px 23px;
    box-shadow: 0px 0px 20px rgba(0,0,0,.3);
}


.presentacion-opcional {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    margin-bottom: 20px;
    background-color: #2a2727;
    display: none;
    width: 100%;
}


.presentacion-opcional img {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    margin-right: 11px;
}


.presentacion-opcional p {
    color: #FFF;
    font-weight: bold;
    padding: 0px 23px;
    font-size: 16px;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 50px);
    padding-right: 0px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.contenedor-2 form::before {
    display: inline-block;
    width: 100%; 
    content: "Copyright © GF Cobranzas Jurídicas 2018";
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    bottom: -30px;
    font-size: 14px;
    text-align: center;
    left: 0px;
    color: #FFF;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}


.contenedor-2 form h1{
    margin-bottom: 15px;
    font-size: 18px;
}


.contenedor-2 form label {
    display: inline-block;
    width: 100%;
    line-height: 25px;
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 7px 0px;
}


.contenedor-2 form input.text, .contenedor-2 select {
    padding: 10px 10px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
    border-radius: 3px;
    width: 100%;
    font-size: 14px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    letter-spacing: 1px;
}


.contenedor-2 form input.text:focus, .contenedor-2 select:focus {
    outline: none;
    box-shadow: 0px 0px 8px rgba(40, 44, 64, 0.4);
}


.boton {
    position: relative;
    background-color: #3498DB;
    border-radius: 3px;
    border: none;
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-family: 'Poppins';
    margin-top: 12px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}


.boton:hover {
    background-color: #44a5e5;
}


.boton:focus {
    background-color: #252e34;
}


.boton::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: rgba(239, 240, 239, 0.87);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.contenedor-contrasena {
    position: relative;
}


.contenedor-contrasena > .ojo {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.link {
    display: inline-block;
    color: #3665e5;
    font-size: 15px;
    text-decoration: none;
    padding-top: 15px;
    width: 100%;
    text-align: center;
}


.link:focus {
    outline: none;
    color: #3060ff;
    text-decoration: underline;
}


.link:hover {
    color: #5f88f7;
}


.cerrar {
    background-image: url("../img/ojo-cerrado.png");
}


.abrir {
    background-image: url("../img/ojo-abierto.png");
}


.boton:hover::before , .boton:focus::before{
    left: 0%;
    width: 100%;
}

@media screen and (max-width: 720px){
    
    .contenedor-1 {
        display: none;
    }
    
    
    form {
        padding-top: 68px !important;    
    }
    
    
    .presentacion-opcional {
        display: block;
    }
    
    
    .contenedor-2 {
        width: 100%;
    }  
}


@media screen and (max-width: 900px){
    
    .parrafo-extendido {
        display: none;
    }
    
    .contenedor-1 p {
        font-size: 40px;
    }
}

















