.divisor-menu {
    width:50%;
    position: relative;
    left: 25%;
    border: 0px;;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.54);
    margin: 10px 0;
    transition: 0.3s;
}

.divisor-activado {
    width:calc(100% - 130px);
    position: relative;
    left: 65px;
}


.main {
    overflow: auto;
    position: absolute;
    width: 100%;
    min-width: 560px;
    height: 100vh;
    min-height: 500px;
}


    nav.menu {
        position: absolute;
        width: 65px;
        height: 100%; 
        background-color: #131527;
        box-shadow: 0px 0px 15px rgba(0,0,0,.3);
        z-index: 3;
    }


    div.fondo-toggle {
        position: absolute;
        width:100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.3);
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        opacity: 0;
        visibility: hidden;
        z-index: 2;
    }


    div.fondo-toggle-activado {
        opacity: 1;
        visibility: visible;
    }


    nav.menu-activado {
        width: 300px !important;
    }


    .primero , .segundo , .tercero {
         -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
         transition-duration: 0.3s;
    }


    nav.menu .icono-menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 65px;
        height: 65px;
        cursor: pointer;
    }


    nav.menu .icono-menu .primero {
        background-color: #ffffff;
        position: absolute;
        top: 25px;
        left: 22px;
        width: 21px;
        height: 3px;
    }

    /* activado */
    nav.menu .icono-menu .primero-activado {
        top: 31px !important;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }


    nav.menu .icono-menu .segundo {
        background-color: #ffffff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 21px;
        height: 3px;
    }


    /* segundo activado */
    nav.menu .icono-menu .segundo-activado {
        opacity: 0;
    }


    nav.menu .icono-menu .tercero {
        background-color: #ffffff;
        position: absolute;
        bottom: 25px;
        left: 22px;
        width: 21px;
        height: 3px;
    }


    /* tercero activado */
    nav.menu .icono-menu .tercero-activado {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 31px !important;
    }


    .contenido-menu {
        width: 65px;
        height: calc(100% - 65px);
        position: absolute;
        top: 65px;
        left: 0;
    }


    .contenedor-derecha {
        width: calc(100% - 65px);
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }


    .encabezado {
        width: 100%;
        height: 55px;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #FFF;
        box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
        z-index: 10;
    }

    
    .encabezado .calendario {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
    }


    .encabezado .logotipo {
        width:50%;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }


    .logotipo h1 {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 62px;
        font-size: 18px;
        letter-spacing: 2px;
        display: inline-block;
        height: 100%;
        line-height: 55px;
    }


    .logotipo h1 span {
        text-transform: capitalize;
        color: rgba(0,0,0,0.7);
        margin-left: 5px;
        padding-left: 5px;
        font-size: 15px;
        border-left: 1px solid #000000;
    }


    .logotipo img {
        width:31px;
        height: 31px;
        position: absolute;
        top: 12px;
        right: 17px;
    }

    .encabezado .calendario img {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 55px;
        height: 55px;
        margin-left: 0px;
        padding: 17px;
    }


    .encabezado .calendario span {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        line-height: 55px;
        height: 100%;
        width: calc( 100% - 55px);
        font-weight: bold;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 20px;
    }

    .contenido-principal {
        width: 100%;
        height: calc(100% - 55px);
        position: absolute;
        right: 0;
        top: 55px;
    }

.iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    border: none;
    overflow: scroll;
}

ul {
    list-style-type: none;
}

/* ************************************************* */
/* ********************* MENÚ ********************** */

/* ******* Modo Tooltip ******* */
/* **************************** */

ul.menu-tooltip , ul.menu-normal{
    background-color: transparent;
}


ul.menu-tooltip {
    width: 65px;
    height: auto;
}


ul.menu-tooltip > li {
    width: 65px;
    height: 45px;
}


ul.menu-tooltip > li > a {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 45px;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}


ul.menu-tooltip > li > a > div.cont-img {
    width: 65px;
    height: 45px;
    position: relative;
}


ul.menu-tooltip > li > a > div.cont-img > img {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


ul.menu-tooltip > li > a > div.texto {
    width: auto;
    padding: 10px;
    height: auto;
    position: absolute;
    left: 75px;
    top: 6px;
    background-color: rgba(0,0,0,0.9);
    color: #FFF;
    font-weight: bold;
    border-radius: 5px;
    white-space: nowrap;
    /* Oculto */
    opacity: 0;
    visibility: hidden;
}


ul.menu-tooltip > li > a:hover div.texto {
    opacity: 1;
    visibility: visible;
}


ul.menu-tooltip > li > a:hover::before {
    content: "";
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #3269fd;
}


ul.menu-tooltip > li > a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


ul.menu-tooltip > li > a img {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;    
}


ul.menu-tooltip > li > a:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}


/* ************************************* */
/* ************ Modo Normal ************ */
/* ************************************* */

ul.menu-normal {
    width: 300px;
    height: auto;
}


ul.menu-normal > li {
    width: 100%;
    height: 45px;
}


ul.menu-normal > li > a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 45px;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}


ul.menu-normal > li > a > div.cont-img {
    width: 65px;
    height: 45px;
    position: relative;
}


ul.menu-normal > li > a > div.cont-img > img {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


ul.menu-normal > li > a > div.texto {
    width: calc(100% - 65px);
    line-height: 45px;
    position: absolute;
    left: 65px;
    top: 0px;
    color: #FFF;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}


ul.menu-normal > li > a:hover::before {
    content: "";
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #3269fd;
}


ul.menu-normal > li > a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


/* ****** Menu de la sesión ****** */

ul.menu-sesion {
    position: absolute;
    bottom: 20px;
    width: 65px;
    height: auto;
}


ul.menu-sesion li.mi-cuenta {
    margin-top: 10px;
    padding: 10px 0px;
    margin: auto;
    width: 45px;
    border-top: 1px solid rgba(255,255,255,.3);
    text-align: center;
    color:#FFF;
    font-weight: bold;
    font-size: 14px;
}


ul.menu-sesion li.img-perfil{
    position: relative;
    width: 65px;
    height: 65px;
}


ul.menu-sesion li.img-perfil img{
    padding: 5px;
    border-radius: 50%;
    width: 70%;
    height: auto;
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #FFF;
}


ul.menu-sesion li.cerrar-sesion {
    display: none;
}


/* *********************************************** */
/* *************** Media Query ******************* */
/* *********************************************** */


/* Pantalla Pequeña */
@media screen and (max-width: 559px){
    
    nav.menu-activado {
        width: 90vw !important;
    }
    
    ul.menu-normal {
        width: 90vw;
    }
}


/* Pantalla amplia */
@media screen and (min-width: 1200px){    
    
    .fondo-toggle-activado {
        opacity: 0 !important;
        visibility: hidden !important;
    }
    
    
    .contenedor-derecha-activado {
        width: calc(100% - 300px);
    }

}