.wave {
    display: inline-block;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    transform: translate3d(0,0,0);
    padding: 13px 25px;
    color: #FFF;
    cursor: pointer;
    margin: 20px;
    font-weight: bold;
    border-radius: 2px;
    border: none;
    outline: none;
    background-color: #4285f4;
    width: 300px;
}


.wave:hover {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,16);
    transition: .3s;
}


.wave-effect {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.44);
    padding: 0;
    margin: 0;
    opacity: 0.6;
    transform: translate3d(-50%, -50%, 0);
}